body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 120px;
    position: static;
    background-color: crimson;
}

.container_menu{
    width: 90%;
    height: 80%;
    margin: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 50%;
    border-radius: 5px;
}

/*menu*/

.menu{
    width: 60%;
    margin: 20px 0px 20px 0px;
    height: 70%;
}

nav{
    width: 100%;
    margin: auto;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li{
    flex: auto;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: brown;
    text-decoration: none;
    background-color: rgb(222, 138, 135);
    border-radius: 2px;
    padding: 10px;
}

/*Seccion imagen*/

.fleyer_fondo{
    width: 100%;
    height: 500px;
    background-image: url(/images/flyer.jpg);
    background-size: cover;
    overflow: hidden;
}

.titulo_est_index{
    color: white;
    font-size: 42px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 220px 0px 0px 0px;
    background-color: brown;
    padding: 20px; 
}

.texto_parrafo{
    width: 100%;
    height: 200px;
    color: brown;
    background-color: burlywood;
    display: flex;
    align-items: center;
    text-align: center;
}

.texto_parrafo:hover{
    width: 100%;
    height: 200px;
    color: burlywood;
    background-color: brown;
    display: flex;
    align-items: center;
    text-align: center;
}

/*Galeria*/

.container_info_gal{
    width: 100%;
    height: 500px;
    background-color: bisque;
    padding-top: 50px;
}

.subtitulo_index{
    color: brown;
    font-size: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*Imagenes de la galeria*/

.container_galeria ul{
    list-style: none;
    display: flex;
}
.container_galeria ul li{
    flex: auto;
}

.container_galeria ul li img{
    width: 300px;
    height: 300px;
    border-radius: 2px;
}

/*Formulario*/

.container_formulario{
    background-color: rgb(182, 62, 62);
    width: 100%;
    height: 600px;
    display: flex;
}

.mapa{
    margin: 100px;
}

.formulario_pedido{
    margin: 80px;
    color: white;
}

/*Aside*/

aside{
    width: 100%;
    height: 200px;
    background-image: url(/images/aside.jpg);
    background-size: cover;
}

/*footer*/

footer{
    background-color: brown;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
    padding: 20px;
}

footer a:hover{
    color: black;
    text-decoration: none;
    padding: 20px;
}
